/* Modify navigation bar */

nav {
  min-height: 49px;
  font-size: 0;
}

nav.navbar-dark {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 15px;
}

nav.bg-custom {
  background-color: rgb(33, 33, 33);
}

.nav-pills a,
.nav-link a {
  --bs-nav-pills-link-active-bg: rgb(133, 133, 133);
  --bs-nav-link-hover-color: rgb(133, 133, 133);
  --bs-nav-link-color: rgb(133, 133, 133);
  color: rgb(133, 133, 133);
  padding: 11px 5px 11px 5px;
  align-self: center;
}

.nav-link:hover {
  color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(33, 33, 33);
  border-left: 5px double rgb(171, 150, 111);
  border-right: 5px double rgb(171, 150, 111);
  border-radius: 100%;
}

.navbar,
.navbar-brand {
  padding: 1px 0 1px 0;
}

nav .navbar-brand img {
  height: 45px;
  width: 45px;
}

.navbar-text {
  padding: 11px 0 11px 0;
  display: block;
}

.nav-link {
  padding: 11px;
}
